<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bussinessConsole.docLogin.dao.IDocLoginDao">

	<select id="docLogin" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT
			A.UUID,
			A.DOCID,
			A.PHONE,
			A.EMAIL,
			A.PASSWORD
		FROM 
			H_DOC A
		WHERE 
			A.PHONE = #{PHONE}
		AND 
			A.DELETE_FLAG = 0
	</select>
	
	<insert id="docRegister" parameterType="java.util.Map">
		INSERT INTO H_DOC
		  (UUID,NICKNAME,PHONE,IDENTITY,GENDER,PASSWORD,EMAIL,DOCNAME,SELFAGE,HOSPITAL,DEPARTMENT,CREATETIME,DELETE_FLAG)
		VALUES
		  (#{UUID},#{NICKNAME},#{PHONE},2,#{GENDER},#{PASSWORD},#{EMAIL},#{DOCNAME},#{SELFAGE},#{HOSPITAL},#{DEPARTMENT},NOW(),0)
	</insert>
	
	<!-- <update id="uploadPic" parameterType="java.util.Map">
		UPDATE YONGHU
		SET	TOUXIANG_PATH = #{TOUXIANG_PATH},
			TOUXIANG_NAME = #{TOUXIANG_NAME}	
		WHERE YONGHU_CODE = #{YONGHU_CODE}
	</update> -->
</mapper>
